#task-container {
    margin: 100px auto 100px auto;

    max-width: 600px;

    justify-content: space-around;
    align-items: flex-start;

    background-color: #fff;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
                0 10px 10px rgba(0,0,0,0.22);
}

#form-wrapper {
    // Sticky header to top after scrolling past it
    position: -webkit-sticky;
    position: sticky;
    top: 0rem;

    padding: 40px;
    border-bottom: 1px solid #e9e9e9;
    background-color: #fff;
    box-shadow: 0 3px 8px rgba(0,0,0,0.25);
}

#submit {
    margin-left: 11px;
    height: 100%;
    background-color: #36d9b6;
    border-radius: 0;
    border: 0;
    color: #fff;
}

.flex-wrapper {
    display: flex;
}

.task-wrapper {
    margin: 5px;
    padding: 5px;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid #e9e9e9;
    color: #686868;
}